# 需要加载库才能正确运行，否则报错`Runtime error at tester/tester_nv.cu:651 - no CUDA-capable device is detected`
export LD_LIBRARY_PATH=/usr/lib/wsl/lib:$LD_LIBRARY_PATH
export SKIP_ATTENTION=1
# export SKIP_TRACE=1
